h3 {
    text-align: center;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 10px;
}

.all {
    padding-top: 140px;
}

ul {
    list-style-type: none;
    display: flex;
    margin-left: 0;
    padding: 0;
}

.slider::-webkit-scrollbar { width: 0; }

.slider {
    max-width: 1112px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth; 
    height: 480px;
}